# Dependencies
node_modules
npm-debug.log

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
LICENSE

# Data
data
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db

# Tests
test
tests
*.test.js
